repos:
  - repo: local
    hooks:
      - id: run-tests
        name: Run tests
        entry: uv run pytest
        language: system
        pass_filenames: false
        stages: [pre-push]
      - id: format-code
        name: Format code
        entry: uv run ruff format
        language: system
        pass_filenames: true
        types: [python]
