repos:
  - repo: local
    hooks:
      - id: run-tests
        name: Run tests
        entry: uv run pytest
        language: system
        pass_filenames: false
        stages: [pre-push]
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        args: []
        stages: [pre-push]