name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --locked

      - name: Check formatting with Ruff
        run: uv run ruff format --check

      # TODO(dwnoble): Fix formatting issues in datacommons-schema and uncomment these
      #- name: Lint with Ruff
      #  run: uv run ruff check

      - name: Run tests
        run: |
          # Enable parallel test execution
          uv run pytest
